<div class="container">

    <section>
        <h3>Build Your Requests</h3>
        <div>
            <div class="row">
                <div class="col-md-1">
                    <label>Method:</label>
                    <select class="form-control" ng-model="method">
                        <option ng-selected= "{{methodType == method}}" ng-repeat="methodType in methods" 
                        value="{{methodType}}">{{methodType}}     
                        </option>
                </select>
                </div>
                <div class="col-md-11">
                    <label>URL:</label>
                    <input type="text" class="form-control" placeholder="URL to Fuzz" ng-model="urlInput" />
                </div>
            </div>
        </div>
    </section>

    <section>
        <h3>Headers</h3>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-2">Name</th>
                    <th class="col-xs-8">Value</th>
                    <th class="col-xs-1">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="header in headerList track by $index">
                    <td><input type="text" class="form-control" ng-model="header.key"/></td>
                    <td>
                        <textarea rows="1" class="form-control" ng-model="header.value"/>
                    </td>
                    <td>
                        <a ng-click="removeItem(headerList, $index)">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <form class="form-inline">
            <button type="button" class="btn btn-default" ng-click="addParameter(headerList)">Add Value</button>
        </form>
    </section>

    <section>
        <div class="form-group" ng-if="method == 'GET'">
            <h3>GET Parameters</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th class="col-xs-2">Parameter</th>
                        <th class="col-xs-8">Value</th>
                        <th class="col-xs-1">Preset Fuzz</th>
                        <th class="col-xs-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="param in paramList track by $index">
                        <td><input type="text" ng-model="param.key" class="form-control" /></td>
                        <td>
                            <textarea ng-model="param.value" rows="1" class="form-control" />

                            <div class="rowExpanded" ng-if="param.expanded">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="selectba">SQL Injection</label>
                                            <div class="col-md-4">
                                                <select id="selectba" name="selectba" class="form-control">
                                                    <option value="1">Option one</option>
                                                    <option value="2">Option two</option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-default">Add</button>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="selectbasic">XSS</label>
                                            <div class="col-md-4">
                                                <select id="selectbasic" name="selectbasic" class="form-control">
                                                    <option value="1">Option one</option>
                                                    <option value="2">Option two</option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-default">Add</button>
                                        </div>
                                    </fieldset>
                                </form>
                                <a ng-click="param.expanded = false">Hide</a>
                            </div>
                        </td>
                        <td>
                            <a ng-click="param.expanded = true">Insert Data</a>
                        </td>
                        <td>
                            <a ng-click="removeItem(paramList, $index)">Remove</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form class="form-inline">
                <button type="button" class="btn btn-default" ng-click="getParamsFromUrl(urlInput)">Get Params</button>
                <button type="button" class="btn btn-default" ng-click="addParameter(paramList)">Add Parameter</button>
                <button type="button" class="btn btn-primary" ng-click="addGET(urlInput, paramList, method)">Add to Batch</button>
                <button type="button" class="btn btn-primary">Randomize Requests</button>
            </form>
        </div>

        <div class="form-group" ng-if="method == 'POST'">
            <h3>POST Body</h3>
            <form class="form-inline">
                <div json-editor model="postBody" options="options" style="height: 400px; padding-bottom:20px;" />
                <button type="button" class="btn btn-primary" ng-click="addPOST(urlInput, postBody, method, headerList)">Add to Batch</button>
                <button type="button" class="btn btn-primary">Insert Junk</button>
                <button type="button" class="btn btn-primary">Randomize Requests</button>
            </form>
        </div>

    </section>

    <section>
        <h3>Request Batch</h3>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-1">Method</th>
                    <th class="col-xs-10">URL</th>
                    <th class="col-xs-1">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="urlBatch.length > 0" ng-repeat="request in urlBatch track by $index">
                    <td>
                        {{ request.method }}
                    </td>
                    <td>
                        {{ request.url }}
                    </td>
                    <td>
                        <a ng-click="removeItem(urlBatch, $index)">Remove</a>
                    </td>
                </tr>
                <tr ng-if="urlBatch.length == 0">
                    <td>
                    </td>
                    <td>
                        No Data
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>

        <form class="form-inline">
            <div class="form-group">
                <label for="delay">Delay: </label>
                <input id="delay " type="number" class="form-control" step="1000" ng-model="delay" />
            </div>
            <button type="button" class="btn btn-primary" ng-click="startFuzzing(delay)">Start Fuzzing</button>
            <button type="button" class="btn btn-danger" ng-click="emptyBatch()">Empty Batch</button>
        </form>
    </section>
</div>