<div class="container">

    <h1>Automated Fuzzing</h1>

    <div class="input-group">
        <p>Enter the URL you wish to Fuzz</p>
        <input type="text" class="form-control" placeholder="URL to Fuzz" ng-model="urlInput" />
        <button type="button" class="btn btn-default navbar-btn" ng-click="getParamsFromUrl(urlInput)">Get Params</button>
    </div>

    <div>
        <h3>Build Request [{{ method }}]</h3>
        <div class="row">
            <div class="col-sm-2">
                <select class="form-control" ng-model="method">
                    <option ng-selected= "{{methodType == method}}" ng-repeat="methodType in methods" 
                      value="{{methodType}}">{{methodType}}     
                    </option>
                </select>
            </div>
        </div>
        

        <div class="form-group" ng-if="method == 'GET'">
            <h3>GET Parameters</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-xs-2">Parameter</th>
                        <th class="col-xs-8">Value</th>
                        <th class="col-xs-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="param in paramList track by $index">
                        <td><input type="text" ng-model="param.key" class="form-control" /></td>
                        <td><input type="text" ng-model="param.value" class="form-control" /></td>
                        <td>
                            <a ng-click="removeItem(paramList, $index)">Remove</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" ng-click="addGET(paramList, method)">Add GET Request</button>
            <button type="button" class="btn btn-default" ng-click="addParameter(paramList)">Add New Parameter</button>
        </div>


        <div class="form-group" ng-if="method == 'POST'">
            <h3>POST Body</h3>
            <div json-editor model="postBody" options="options" style="height: 400px;"/>
            <button type="button" class="btn btn-primary" ng-click="addPOST(postBody, method)">Add POST Request</button>
        </div>

        
    </div>

    <div>
        <h3>URLs in Batch</h3>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-2">Method</th>
                    <th class="col-xs-8">URL</th>
                    <th class="col-xs-2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in urlBatch track by $index">
                    <td>
                        {{ request.method }}
                    </td>
                    <td>
                        {{ request.url }}
                    </td>
                    <td>
                        <a ng-click="removeItem(urlList, $index)">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>Delay</p>
        <input type="number" class="form-control" step="1000" ng-model="delay" />
        <button type="button" class="btn btn-default" ng-click="startFuzzing(delay)">Start Fuzzing</button>
    </div>
</div>