$primary-color: #ececec;

html {
  overflow-y:scroll;
}

section{
  padding-bottom: 50px;
}

textarea { 
  resize: vertical;
}

th {
  background-color: $primary-color;
}

input {
  border: none;
}

.table {
	table-layout:fixed;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar{
  margin-bottom: 0px;
}

.table {
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.container {
    width: 80%;
}

.footer {
  padding: 100px;
  height: 300px;
}

.btn {
  border-radius: 20px;
}

.panel-body {
  padding: 5px;
}

.panel {
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.rowExpanded {
  margin: 20px;
}

.ace_editor { 
  height: 200px; 
}

.underlined{
  border-bottom: 2px solid black;
  border-radius: 0px;
}