$primary-color: #ececec;

html {
  overflow-y:scroll;
}

section{
  padding-bottom: 50px;
}

textarea { 
  resize: vertical;
}

th {
  background-color: $primary-color;
}

.table {
	table-layout:fixed;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar{
  margin-bottom: 0px;
}

.table {
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.container {
    width: 80%;
}

.footer {
  padding: 100px;
  height: 300px;
}

.btn {
  border-radius: 20px;
}

.rowExpanded {
  margin: 20px;
}

.ace_editor { 
  height: 200px; 
}