html {
  overflow-y:scroll;
}

section{
  padding-bottom: 50px;
}

textarea { 
  resize: vertical;
}

.table {
	table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
    width: 80%;
}

.footer{
  padding: 100px;
  height: 300px;
}